<div class="card">
	<div class="card-content">
	<div class="row">
	</div>
	  <%= f.label :adtext, "AdText" %>
		<%= f.text_field :adtext , placeholder:'Digite seu texto aqui...'%>
		<%= f.label :bid %>
		<%= f.text_field :bid, data: {autonumeric: {aSign: 'R$ ', mDec: 2}}, placeholder:'R$00,00' %>
	  <%= f.hidden_field :_destroy %>
	  <%= link_to "remove", '#', class: "remove_fields btn red waves-effect waves-light" %>
	</div>
</div>