<div class="row"></div>
<div class="container">
  <%= form_for(@ad) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@ad.errors.count, "erros encontrado")%> </h5>

      <ul>
      <% @ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <div class="row">
      <div class="card">
        <div class="card-content">
          <%= f.label :budget %><br>
          <%= f.text_field :budget, data: {autonumeric: {aSign: 'R$ ', mDec: 2}}, placeholder:'R$00,00' %>
        </div>
      </div>
    </div>
    <div class="row">
      <blockquote>
        <h5>Craetives</h5>
      </blockquote>
    </div>
    <div class="row">
      <%= f.fields_for :creative do |c| %>
        <%= render 'creative_fields', f: c %>      
      <% end %>
    </div>
    <div class="row">
       <%= link_to_add_fields ('<button class="btn tooltipped blue" data-position="bottom" data-delay="50" data-tooltip="ADD Creative"> ADD</button>').html_safe , f, :creative %>
    </div>

    <div class="row">
      <blockquote>
        <h5>Targets</h5>
      </blockquote>
    </div>
      
    <div class="row">
      <%= f.fields_for :targeting do |t| %>
        <%= render 'targeting_fields', f: t %>      
      <% end %>
    </div>
    <div class="row">
      <%= link_to_add_fields ('<button class="btn tooltipped blue" data-position="bottom" data-delay="50" data-tooltip="ADD Targeting"> ADD</button>').html_safe , f, :targeting %>
    </div>
    </div>
    <div class="row">  
      <button class="btn waves-effect waves-light green col s2 offset-s10" type="submit" name="action">Salvar</button>
    </div>
  <% end %>  
</div>
<div class="row"></div>
