<div class="row"></div>
<div class="container">
  <%= form_for(@ad) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :budget %><br>
    <%= f.text_field :budget %>
    <%= f.fields_for :creative do |c| %>
      <%= c.label :adtext %>
      <%= c.text_field :adtext %>
      <%= c.label :bid %>
      <%= c.text_field :bid %>
    <% end %>
  </div>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  
  <% end %>  
</div>
