<div class="row"></div>
<div class="container">
  <%= form_for(@ad) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h4>

      <ul>
      <% @ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :budget %><br>
    <%= f.text_field :budget %>
    <%= f.fields_for :creative do |c| %>
      <%= render 'creative_fields', f: c %>      
    <% end %>
    <%= link_to_add_fields "Add Creative", f, :creative %>
    <%= f.fields_for :targeting do |t| %>
      <%= render 'targeting_fields', f: t %>      
    <% end %>
    <%= link_to_add_fields "Add Targeting", f, :targeting %>
    

  </div>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

  <% end %>  
</div>
