<div class="card">
	<div class="card-content">
	<div class="row">
	</div>
    
	  <%= f.label :places, "places" %>
	  <%= f.text_field :places_list , placeholder: "Separe seus locais por virgula como: Recife, Olinda" %>

	  <%= f.label :gender, "gender" %>
	  <%= f.select(:gender) do %>
		  <% [['----', ''], ['Masculino', 'Masculino'], ['Feminino', 'Feminino'], ['Indefinido', 'Indefinido']].each do |c| -%>
		    <%= content_tag(:option, c.first, value: c.last) %>
		  <% end %>
		<% end %>
	  <%= f.hidden_field :_destroy %>
	  <%= link_to "remove", '#', class: "remove_fields btn red waves-effect waves-light" %>
	</div>
</div>