<div class="card">
	<div class="card-content">
	<div class="row">
	</div>
	  <%= f.label :places, "places" %>
	  <%= f.text_field :places %>
	  <%= f.label :gender, "gender" %>
	  <%= f.text_field :gender %>
	  <%= f.hidden_field :_destroy %>
	  <%= link_to "remover", '#', class: "remove_fields btn red waves-effect waves-light" %>
	</div>
</div>